<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css'%}">
    <script src="{%  static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block title %}
    <title>这是工单系统的首页</title>
    {% endblock %}


</head>

<body>
{% block body %}

    <h1>工单自动化首页</h1>
    <p></p>
    <p><h3><a href="{%  url 'white' %}">ZF公网加白工单</a></h3></p>
    <p ><h3><a href="{%  url 'nat' %}">ZF公网NAT工单</a></h3></p>
    <p><h3><a href="{%  url 'insideaccess' %}">ZF内部互访工单</a></h3></p>
    <p><h3><a href="{%  url 'ipsu' %}">“极速”-IP地址计算</a></h3></p>
    <p><h3><a href="{%  url 'acl' %}">“鹰眼”-ACL冲突检测</a></h3></p>
    <p></p>
    <div style="color: green">
    ======================================================================
        &nbsp&nbsp&nbsp&nbsp© 2024-forever 代码为hasonyuan个人原创，版权归hasonyuan所有！
    ======================================================================
    </div>
<style>
    body {
        width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    p {
        background-color: rgb(207, 232, 220);
        border: 1px solid rgb(79, 185, 227);
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
    }
</style>



{% endblock %}
</body>

</html>