<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是工单系统的首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <script src="https://cdn.staticfile.net/jquery/2.1.1/jquery.min.js"></script>#}
{#    <script src="https://cdn.staticfile.net/foundation/5.5.3/js/foundation.min.js"></script>#}
{#    <script src="https://cdn.staticfile.net/foundation/5.5.3/js/vendor/modernizr.js"></script>#}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
{#    <link rel="stylesheet" href="{%  static 'css/foundation.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/foundation.min.css'%}">#}
{#    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>#}
{#    <script src="{% static 'js/foundation.min.js' %}"></script>#}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
{% block body %}
    <div class="container-fluid border-2 bg-warning" style="width: 1200px">
        <h1>公网NAT工单</h1><h3><a href="/index/">首页</a> </h3>
        <form action="" method="post">
            {% csrf_token %}

            <div class="border" style="width: 900px">
                <div class="form-check" style="width: 200px;float: left">
                    <input type="radio" id="radio1" name="gcp" value="1">**经过GCP**
                    <label class="form-check-label" for="radio1"></label>
                </div>
                <div class="form-check" style="width: 200px;">
                    <input type="radio" id="radio2" name="gcp" value="2" checked>**不经过GCP**
                    <label class="form-check-label" for="radio2"></label>
                </div>
            </div>
            <div class="border" style="width: 900px">
                <div class="p-1"><h5>机房信息二选一</h5></div>
                <ul class="accordion" style="width: 700px" data-accordion>
                    <li class="accordion-navigation">
                        <a href="#demo" class="bg-warning">【TW机房】</a>
                        <div id="demo" class="content active bg-warning">
                            <div class="border">
                                <div class="container bg-warning">
                                    <div style="display: inline-block" class="p-1">
                                        <div>互联网ISP1:</div>
                                        <div><input id="internet1" type="text" name="tw1"></div>
                                    </div>
                                    <div style="display: inline-block" class="p-1">
                                        <div>互联网IP2:</div>
                                        <div><input id="internet2" type="text" name="tw2"></div>
                                    </div>
                                    <div style="display: inline-block" class="p-1">
                                        <div>互联网ISP3:</div>
                                        <div><input id="internet3" type="text" name="tw3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-navigation">
                        <a href="#demo2" class="bg-warning">【JP机房】</a>
                        <div id="demo2" class="content bg-warning">
                            <div class="border">
                                <div class="container bg-warning">
                                    <div style="display: inline-block" class="p-1">
                                        <div>互联网ISP1:</div>
                                        <div><input id="internet4" type="text" name="jp1"></div>
                                    </div>
                                    <div style="display: inline-block" class="p-1">
                                        <div>互联网IP2:</div>
                                        <div><input id="internet5" type="text" name="jp2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="border p-1" style="width: 900px;">
                <div class="border p-2">
                <div>内网IP地址:</div>
                <div style="width: 300px"><input id="internet6" type="text" name="insideip" required></div>
                </div>
                <div style="display: flex" class="border p-1">
                <div>内网需要映射的端口号:</div>
                <div ><input id="internet7" type="text" name="insideport" required></div>
                <div>映射到外网的端口号:</div>
                <div><input id="internet8" type="text" name="outsideport" required></div>
                </div>
                <div class="border p-2">
                <div>出口防火墙外部地址组名称: </div>
                <div style="width: 300px"><input id="internet9" type="text" name="fwgroupname" required></div>
                </div>
                <div class="border p-2">
                <div>EP交换机前缀列表序列号[请确认无冲突]: </div>
                <div style="width: 300px"><input id="internet10" type="text" name="epxuhao" ></div>
                </div>
            </div>

            <div class="p-2"><input type="submit" value="提交"></div>
        </form>
        <div class="border">
            <div style="color: red" class="p-1"><h5>配置输出如下：</h5></div>
            <div><textarea rows="15" cols="141" id="u843_input52" type="text">
                {% for i in infoall %}
                    {{ i }}
                {% endfor %}
            </textarea></div>
        </div>
    </div>


<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>

{% endblock %}
</body>
</html>